/** @format */

// Primary Colors
$color-primary-beige-100: #f8f4f0;
$color-primary-beige-500: #98908b;

// Neutral Colors
$color-gray-100: #f2f2f2;
$color-gray-300: #b3b3b3;
$color-gray-500: #696868;
$color-gray-900: #201f24;
$color-white: #fff;

// Secondary Colors
$color-secondary-red: #c94736;
$color-secondary-cyan: #82c9d7;
$color-secondary-navy: #626070;
$color-secondary-green: #277c78;
$color-secondary-yellow: #f2cdac;
$color-secondary-purple: #826cb0;

// Decorative Colors
$color-gold: #cab361;
$color-blue: #3f82b2;
$color-brown: #93674f;
$color-purple: #af81ba;
$color-orange: #be6c49;
$color-magenta: #934f6f;
$color-turquoise: #597c7c;
$color-navy-gray: #97a0ac;
$color-army-green: #7f9161;

// Font
$font-size-xxl: 3.2rem;
$font-size-xl: 2rem;
$font-size-l: 1.6rem;
$font-size-m: 1.4rem;
$font-size-s: 1.2rem;

$line-height-tight: 1.2;
$line-height-normal: 1.5;
