/** @format */

@use "../styles/abstracts/mixins.scss" as mix;

.layout {
  display: flex;
  min-height: 100dvh;

  &.collapsed {
    width: 30rem;
  }

  main {
    flex: 1;
    margin-left: 22rem;
    overflow-y: auto;
    transition: margin-left 0.3s ease;

    &.collapsed {
      margin-left: 8rem;
    }
  }

  @include mix.respond(tab-port) {
    flex-direction: column-reverse;

    main {
      margin-left: 0;
      padding-bottom: 5rem;
    }
  }
}
