/** @format */

@use "../styles/abstracts/mixins.scss" as mix;

.overview {
  padding: 3.2rem 4rem;
  max-width: 144rem;
  margin: 0 auto;

  // margin-left: 30rem;
  width: 100%;

  .heading {
    @include mix.textPreset(1);

    margin-bottom: 3.2rem;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 2.4rem;

    .balance {
      grid-column: 1/5;
    }

    .income {
      grid-column: 5/9;
    }

    .expenses {
      grid-column: 9/-1;
    }

    .pots {
      grid-column: 1/8;
    }

    .budgets {
      grid-column: 8/-1;
      grid-row: span 2;
    }

    .transactions {
      grid-column: 1/8;
      grid-row: span 3;

      .transactionsBox {
        margin-top: 1.2rem;
      }
    }

    .bills {
      grid-column: 8/-1;

      .billsBox {
        margin-top: 3.2rem;
      }
    }
  }
}
