/** @format */

@use "../../styles/abstracts/variables.scss" as variables;

.sidebar {
  background-color: variables.$color-gray-900;
  width: 30rem;
  height: 100dvh;
  border-top-right-radius: 16;
  border-bottom-right-radius: 16;

  padding-left: 3.2rem;

  ul {
    list-style: none;

    li {
      // display: flex;
      // align-items: center;
      // vertical-align: baseline;

      // svg {
      //   vertical-align: baseline;
      // }

      a {
        text-decoration: none;
        color: variables.$color-gray-100;
      }
    }
  }
}

.icon {
  transform: translateY(6px);
  fill: variables.$color-gray-300;
}

.label {
  font-size: 2rem;
  color: variables.$color-gray-300;
}
