/** @format */

@use "../../styles/abstracts/variables.scss" as var;
@use "../../styles/abstracts/mixins.scss" as mix;

.box {
  background-color: var.$color-white;
  padding: 3.2rem;
  border-radius: 1.2rem;

  .line {
    @include mix.flex(null, null, space-between);

    .title {
      color: var.$color-gray-900;
      @include mix.textPreset(2);
    }

    .link {
      @include mix.flex();
      @include mix.textPreset(4);
      color: var.$color-gray-500;

      .icon {
        transform: rotate(-90deg);
        margin-left: 1.2rem;
      }
    }
  }

  @include mix.respond(phone) {
    padding: 2.4rem 2rem;
  }
}
