/** @format */

@use "../../styles/abstracts/variables.scss" as var;
@use "../../styles/abstracts/mixins.scss" as mix;

.container {
  width: 100%;

  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  .total {
    background-color: var.$color-primary-beige-100;
    border-radius: 1.2rem;
    padding: 1.6rem;

    display: flex;
    gap: 1.6rem;

    .icon {
      fill: var.$color-secondary-green;
      align-self: center;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.1rem;

      span {
        color: var.$color-gray-500;
        @include mix.textPreset(4);
      }

      .totalSaved {
        color: var.$color-gray-900;
        @include mix.textPreset(1);
      }
    }
  }

  .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }

  @include mix.respond(tab-port) {
    grid-template-columns: 40% 60%;
  }

  @include mix.respond(phone) {
    grid-template-columns: 1fr;
  }
}
